@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

:root{
    /* --background-color: #242424; */
    --navbar-color: #0f0f0f;

    --card-bg-color: #1f1f1f;

    --skills-color: #08597b;
    --skills-color-hover: #1f7ea7;

    --words-hover: #1f7ea7;

    --footer-bg-color: #14262e;
    --footer-copyr-bg-color: #08597b;

}

.logomove{
    background-color: var(--navbar-color);
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;


}

.navbar{
    border-radius: 0px 0px 5px 5px;
    padding: 1em;
    text-align: center;
    /* margin-bottom: 4em; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar > a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 2em;
}

.navbar > a:hover{
    /* color: #8CBA80; */
    color: var(--words-hover);
    font-weight: bold;
}

/* Footer area */
.footer{
    /* background-color: var(--card-bg-color); */
    padding: 0;
}

.footer > a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 0em;
    display: block;
}

.footer > a:hover{
    color: greenyellow;
    font-weight: bold;
}

#footer-cpr{
    background-color: var(--footer-copyr-bg-color);
    text-align: center;
}

/* resume area */

.resume{
    /* background-color: var(--card-bg-color); */
    display: flex;
    padding-bottom: 4em;
    
}

#avatar{
    height: 20em;
    margin-top: 4em;
    
}

.card{
    margin-right: 2em;
}

#name{
    font-size: 4em;
    box-sizing: border-box;
    
}

#myresume{
    border-radius: 0px;
    background-color: var(--card-bg-color);
    padding: 1em 2em;
    display: flex;
    margin-bottom: 2em;
    text-align: left;
}

#contactme{
    border-radius: 0px;
    background-color: var(--card-bg-color);
    padding: 1em 2em;
    display: flex;    
}

#contactme > div{
    display: flex;
    padding-left: 1em;
}

#contactme > div:first-child{
    padding-left: 0;
}

#contactme >div > a{
    padding-left: 0em;
    text-decoration: none;
    padding: 0;
}

#contactme > div > a{
    display: block;
    margin: 16px 0;
}

#contactme > div:last-child{
    transition: all 0.3s ease;
}

#contactme > div:last-child:hover{
    border-radius: 20px;
    box-shadow: 1px 1px 10px #dad8d8;
    transform: translateY(-10px);
    padding-left: 0;
}



/* hardskills area */

.hardskills{
    background-color: var(--card-bg-color);
    width: 80%;
}

.hardskills > h3{
    padding: 1em 2em;
}

.hardgrid{
    padding: 1em;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.hardgrid > div{
    background-color: var(--skills-color);
    height: 6em;
    width: 70%;
    

    border-radius: 10px;
    text-align: center;
    margin: 0.5em;

    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;

    align-items: center;
    /* align-content: center; */
    justify-content: center;
}

.hardgrid > div:hover{
    box-shadow: 1px 1px 20px #dad8d8;
    transform: translateY(-10px);
    background-color: var(--skills-color-hover);
}

#linux{
    width: 120%;
}

#docker{
    width: 80%;
    
}
#docker + p{
    margin-top: 0;
}

.softskills{
    background-color: var(--card-bg-color); 
    width: 30%;
    margin-left: 1em;
    
}

.softskills > h3{
    padding-left: 1em;
}

.icons{
    height: 4em;
}

/* Experience area */

.experience{
    /* background-color: var(--card-bg-color); */
    padding: 2em;
    margin-top: 2em;
}

.jobs{
    background-color: var(--skills-color);
    margin: 2em 2em;
    padding: 1.5em;
    border-radius: 20px;

}

/* Projects area */

.projects{
    background-color: var(--card-bg-color);
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.github{
    background-color: var(--skills-color);
    margin: 2em 2em;
    padding: 1.5em;
    border-radius: 20px;
    display: flex;
}

.github > div{
    padding-left: 2em;
}

.github:hover{
    box-shadow: 1px 1px 10px var(--skills-color-hover);
}

.radius{
    border-radius: 0px;
    border: 3px solid #242424;
    margin-bottom: 3em;
}
.onhover:hover{
    box-shadow: 1px 1px 20px white;
}