:root{
    /* --background-color: #242424; */
    --navbar-color: rgba(24, 56, 73, 0.7);

    --card-bg-color: #000;

    --skills-color: #08597b;
    --skills-color-hover: #1f7ea7;

    --footer-bg-color: #14262e;
    --footer-copyr-bg-color: #174356;

}

.navbar{
    border-radius: 0px 0px 50px 50px;
    padding: 1em;
    background-color: var(--navbar-color);
    text-align: center;
    margin-bottom: 4em;
    position: sticky;
    top: 0;
}

.navbar > a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 2em;
}

.navbar > a:hover{
    /* color: #8CBA80; */
    color: greenyellow;
    font-weight: bold;
}

/* Footer area */
.footer{
    background-color: var(--card-bg-color);
}

.footer > a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 2em;
    display: block;
}

.footer > a:hover{
    color: greenyellow;
    font-weight: bold;
}

#footer-cpr{
    background-color: var(--footer-copyr-bg-color);
    text-align: center;
}

/* resume area */

.resume{
    background-color: var(--card-bg-color);
    display: flex;
    padding-bottom: 4em;
    
}

#avatar{
    height: 20em;
    margin-top: 4em;
    
}

.card{
    margin-right: 2em;
}

#name{
    font-size: 4em;
    box-sizing: border-box;
    
}

#myresume{
    border-radius: 40px;
    background-color: black;
    padding: 1em 2em;
    display: flex;
    margin-bottom: 2em;
}

#contactme{
    border-radius: 40px;
    background-color: black;
    padding: 1em 2em;
    display: flex;
}



/* hardskills area */

.hardskills{
    background-color: var(--card-bg-color);
    width: 80%;
}

.hardskills > h3{
    padding: 1em 2em;
}

.hardgrid{
    padding: 1em;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.hardgrid > div{
    background-color: var(--skills-color);
    height: 6em;
    width: 70%;
    

    border-radius: 10px;
    text-align: center;
    margin: 0.5em;

    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;

    align-items: center;
    /* align-content: center; */
    justify-content: center;
}

.hardgrid > div:hover{
    box-shadow: 1px 1px 60px white;
    transform: translateY(-10px);
    background-color: var(--skills-color-hover);
}

#linux{
    width: 120%;
}

#docker{
    width: 80%;
    
}
#docker + p{
    margin-top: 0;
}

.softskills{
    background-color: var(--card-bg-color); 
    width: 30%;
    margin-left: 1em;
    
}

.softskills > h3{
    padding-left: 1em;
}

.icons{
    height: 4em;
}

/* Experience area */

.experience{
    background-color: var(--card-bg-color);
    padding: 2em;
    margin-top: 2em;
}

.jobs{
    background-color: var(--skills-color);
    margin: 2em 2em;
    padding: 1.5em;
    border-radius: 20px;

}

/* Projects area */

.projects{
    background-color: var(--card-bg-color);
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.github{
    background-color: var(--skills-color);
    margin: 2em 2em;
    padding: 1.5em;
    border-radius: 20px;

}

.radius{
    border-radius: 20px;
    border: 3px solid #242424;
    margin-bottom: 3em;
}
.onhover:hover{
    box-shadow: 1px 1px 20px white;
}